.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;

  & .navList {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    padding-inline-start: 0;
    & a {
      text-decoration-color: transparent;
      color: black;
      transition: 0.5s ease;

      &:hover {
        text-decoration-color: black;
      }
    }
  }

  & .logoContainer {
    display: flex;
    gap: 1rem;
  }
}
