.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .foodUl {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0; /* Remove default list margins */
    & img {
      transition: transform 0.4s;
      border-radius: 5rem;
      &:hover {
        transition: transform 0.2s;
        transform: scale(1.05);
      }
    }
    & a {
      text-decoration: none;
      color: black;
    }
  }
}
