.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid black;
  padding: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}
