.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  min-height: 50%;
  justify-content: flex-end;
}

.imageContainer {
  width: 700px;
  height: 700px;
  animation: fadeIn 0.5s ease-in-out;
  position: relative;
}
.form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 5rem;
  min-height: 24.6875rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  animation: fadeIn 0.5s ease-in-out;

  .createOrSignInButton {
    border: none;
    background: none;
    width: 16rem;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & > input {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid lightgrey;

    // some styles for the input field when it is valid or invalid
    &:not(:placeholder-shown):valid {
      outline: 1px solid green;
    }
    &:not(:placeholder-shown):invalid {
      outline: 1px solid red;
    }
    &:focus:invalid,
    &:focus:valid {
      outline: 1px solid orange;
    }
  }

  .submitButton {
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding: 0.5rem;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;

  & > button {
    border: none;
    background-color: transparent;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
