.container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #405d72;
  padding-bottom: 1rem;

  & .customBorder {
    position: relative;
    padding: 1rem;
    width: 84vw;

    & span {
      color: #fff8f3;
      letter-spacing: 0.5rem;
    }
    // custom border across word
    // & span {
    //   background-color: #405d72;
    //   color: #fff8f3;
    //   letter-spacing: 0.5rem;
    //   padding: 1rem;
    // }
    // &::after {
    //   content: "";
    //   display: block;
    //   border-bottom: 1px solid #fff8f3;
    //   margin-top: -34px;
    // }
  }
}

@media screen and (max-width: 30rem) {
  .customBorder {
    font-size: small;
  }
}
