html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body,
html,
#root {
  width: 100%;
  height: 100%;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}
