.container {
  background-color: lightgoldenrodyellow;
  padding-top: 1rem;
  position: relative;

  .marquee {
    display: flex;
    gap: 1rem;
    animation: slide 20s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  .marqueeItem {
    flex-shrink: 0; /* Prevent shrinking of items */
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(-100%)
  }
}